<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.uqbar.project.wollok.ui.launch.WollokTestLaunchConfigurationType">
<listAttribute key="ATTR_WOLLOK_LIBS"/>
<stringAttribute key="WOLLOK_FILE" value="src/Etapa1.wtest"/>
<booleanAttribute key="WOLLOK_IS_REPL" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.ATTR_REFRESH_RECURSIVE" value="true"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.uqbar.project.wollok.launch.WollokLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-requestsPort 0 -eventsPort 0 -testPort 61012 -t -folder  -wf src/Etapa1.wtest "/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="serviciosProfesionales"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Duser.language=en_US"/>
</launchConfiguration>
